
@model Job_Offers_Website.Models.ApplyForJob

@{
    ViewBag.Title = "DetailsOfJob";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="display-5"> Details Of Applyed job </h3>
                </div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.job.JobTitle)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.job.JobTitle)
                        <hr />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ApplyDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ApplyDate)
                        <hr />
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Message)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Message)
                        <hr />
                    </dd>
                    <dt>
                        <strong>Upload CV </strong>
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Cv)
                    </dd>

                </dl>
                <hr />
                <div class="form-actions no-color" style="margin:20px;">
                    @Html.ActionLink("Back to job List", "GetJobsByUser", null, new { @class = "btn btn-outline-primary" })
                    @Html.ActionLink("Edit This job ", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" })

                </div>

            </div>
        </div>
    </div>
</div>


<style>
    .btn {
        margin: 10px;
    }

    .card {
        background-position-y: center;
        margin: 30px;
        box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0 0 0 2px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    }
 
</style>


@*<div></div>*@