@model IPagedList<Job_Offers_Website.Models.Job>
@using WebApplication3.Models;
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@{bool IsAdmin = User.IsInRole("Admins"); }



@if (IsAdmin)
{
    <p style="margin:15px 0 25px 35px">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info" })
    </p>
}
<div style="margin:10px 0 20px 30px">
    <h2>List Jobs</h2>
</div>
<table class="table table-bordered border-primary text-center">
    <thead class="thead-light">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.First().Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().JobTitle)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.First().JobContent)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.First().JobImg)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @{
                    var job_contant = "";
                    var job_con = item.JobContent;
                    if (job_con != null)
                    {
                        if (job_con.Length > 50)
                        {
                            job_contant = job_con.Substring(0, 48) + ".....";
                        }
                        else
                        {
                            job_contant = job_con;
                        }
                    }
                    else { job_contant = job_con; }                   
                    }
                @job_contant
            </td>
            <td>
                <img src="~/Uploads/@Html.DisplayFor(modelItem => item.JobImg)"
                     class="img-thumbnail" style="width:50px;height:50px;" />

            </td>
            @if (IsAdmin)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-warning" })
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-info" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger" })
                </td>
            }
        </tr>
    }

</table>

    <div class="pagination justify-content-center">
        <p style="margin-right:20px;">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount
        </p>
            @Html.PagedListPager(Model, i => Url.Action("Index","jobs", new { i }))
    </div>


<style>
    .ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {
        display: inline;
        background-color: antiquewhite;
        /*border-radius: 1rem;*/
        box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0 0 0 2px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            
        }

            ul.pagination li a.active {
                background-color: red;
                color: red;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ddd;
            }
</style>

<style>
    .btn {
        margin: 3px;
    }
</style>